1. Receipts for Lovely Loveseats

In [1]:
lovely_loveseat_description = 'Lovely Loveseat. Tufted polyester blend on wood. 32 inches high x 40 inches wide x 30 inches deep. Red or white.'
lovely_loveseat_price = 254.00
stylish_settee_description = 'Stylish Settee. Faux leather on birch. 29.50 inches high x 54.75 inches wide x 28 inches deep. Black.'
stylish_settee_price = 180.50
luxurious_lamp_description = 'Luxurious Lamp. Glass and iron. 36 inches tall. Brown with cream shade.'
luxurious_lamp_price = 52.15
sales_tax = 0.088
customer_one_total = 0
customer_one_itemization = ("")
customer_one_total = lovely_loveseat_price
customer_one_itemization += lovely_loveseat_description
customer_one_total += luxurious_lamp_price
customer_one_itemization += luxurious_lamp_description
customer_one_tax =(customer_one_total * sales_tax)
customer_one_total += customer_one_tax

print("Customer One Items:")
print(customer_one_itemization)
print("Customer One Total:")
print(customer_one_total)

Customer One Items:
Lovely Loveseat. Tufted polyester blend on wood. 32 inches high x 40 inches wide x 30 inches deep. Red or white.Luxurious Lamp. Glass and iron. 36 inches tall. Brown with cream shade.
Customer One Total:
333.09119999999996

2. Gradebooks

In [2]:
subjects = ["physics", "calculus", "poetry", "history"]
grades = [98, 97, 85, 88]
gradebook = []
for i in range(len(subjects)):
    gradebook.append([subjects[i], grades[i]])

print(gradebook)

[['physics', 98], ['calculus', 97], ['poetry', 85], ['history', 88]]

In [3]:
gradebook.append(["computer science", 100])
gradebook.append(["visual arts", 93])
print(gradebook)

[['physics', 98], ['calculus', 97], ['poetry', 85], ['history', 88], ['computer science', 100], ['visual arts', 93]]

In [4]:
gradebook[-1][1] += 5
for i in range(len(gradebook)):
    if gradebook[i][0] == "poetry":
        gradebook.remove(gradebook[i])
        break

gradebook.append(["pass"])
print(gradebook)
#remove사용 후 pass추가?

[['physics', 98], ['calculus', 97], ['history', 88], ['computer science', 100], ['visual arts', 98], ['pass']]

In [5]:
last_semester_gradebook = [["politics", 80], ["latin", 96], ["dance", 97], ["architecture", 65]]
full_gradebook = last_semester_gradebook + gradebook
print(full_gradebook)

[['politics', 80], ['latin', 96], ['dance', 97], ['architecture', 65], ['physics', 98], ['calculus', 97], ['history', 88], ['computer science', 100], ['visual arts', 98], ['pass']]

3. Carly's Clippers

In [6]:
hairstyles = ["bouffant", "pixie", "dreadlocks", "crew", "bowl", "bob", "mohawk", "flattop"]
prices = [30, 25, 40, 20, 20, 35, 50, 35]
last_week = [2, 3, 5, 8, 4, 4, 6, 2]

In [7]:
total_price = 0
for price in prices:
  total_price += price
average_price = total_price/len(prices)
print("Average price is ", average_price)

Average price is  31.875

In [8]:
new_prices = []
for price in prices:
    new_prices.append(price - 5)
print(new_prices)

[25, 20, 35, 15, 15, 30, 45, 30]

In [9]:
total_revenue = 0
for i in range(len(hairstyles)):
  revenue_per_style = prices[i]*last_week[i]
  total_revenue += revenue_per_style

average_daily_revenue = total_revenue/7
print("Average daily revenue is", average_daily_revenue)

Average daily revenue is 155.0

In [10]:
cuts_under_30 = [hairstyles[i] for i in range(len(new_prices)) if new_prices[i] < 30]
print(cuts_under_30)

['bouffant', 'pixie', 'crew', 'bowl']

4. 나의 조선시대 이름 찾기기

In [1]:
def get_my_chosun_name(family_name, month, day):
    first_letters = ['쌍', '쇠', '복', '돌', '팽', '육', '쌍', '개', '칠', '갑', '삼', '방']
    second_letters = ['봉', '구', '욕', '포', '똥', '삼', '식', '석', '놈', '님', '년', '윤', '돌', '단', '득', '방', '질', '장', '걸', '레', '룡', '동', '순', '자', '박', '창', '언', '것', '포', '만', '단', '국']

    if 1 <= month <= 12:
        first_name = first_letters[month - 1]
    else:
        return "정확히 입력하세요"

    if 1 <= day <= 31:
        second_name = second_letters[day - 1]
    else:
        return "정확히 입력하세요"

    chosun_name = family_name + first_name + second_name
    return chosun_name

my_chosun_name = get_my_chosun_name('김', 4, 25)
print("당신의 조선시대 이름은", my_chosun_name, "입니다")

당신의 조선시대 이름은 김돌박 입니다